# This is the configuration file for the encryption filter for Birch. It
# contains the key target mapping.
# Empty lines and lines which start with a '#' are treated as comments and
# ignored.
#
# A mapping line has the following syntax:
#     [algorithm:]<key> <target1> <target2> ...
#
# The default algorithm is AES.
#
# The is also OTP support. The line syntax for OTP is:
#     OTP(<algorithm>,<keysize>,<start_date>,<interval>,<bytes_to_skip>,<filename>) <target1> ...
#
# Syntax of <start_date>:
#     < YYYYMMDD | YYYYMMDD'T'hhmmssZ >
# Z is the timezone (e.g. +0100)
#
# Syntax of <interval>:
#     [<months>M][<days>d][<hours>h][<minutes>m][<seconds>s]
#
#
# Examples:
#     DvPz3M1G1csuc6moPpO4pA== #bsel
#     blowfish:voqLqYNSNc1EJR8L1pu/Pw== username #someChannel
#     otp(aes,128,20090501,1d2m1s,16,otp.file) #channel
#

# AES key
7vSiaYj+xXh2f8KQhfJOjw== #bsel

#otp(aes,128,20090602T035000+0100,1m0s,16,test.otp) #kij

# Blowfish key
blowfish:voqLqYNSNc1EJR8L1pu/Pw== #kij

# DES key
#zs26IFsxmBw= #bsel

#prefixEncrypted = crypt>
prefixPlain = <plain>
#ignorePrefix = \[[0-9]{1,2}:[0-9]{1,2}\]\s*
